# Postgres connection
PG_HOST=pg
PG_PORT=5432
PG_USERNAME=root
PG_PASSWORD=2007
PG_DB=nodeflix

# MongoDB connection
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_USERNAME=root
MONGO_PASSWORD=2007
MONGO_DB=nodeflix

# Server
JWT_SECRET_KEY='LACUCHADETOMI123'